@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --grid-template-columns-auto: repeat(auto-fit, minmax(300px, 1fr));
  --grid-template-columns-people: repeat(auto-fit, minmax(350px, 1fr));
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background: #dbeafe;
}

:focus-visible {
  outline: 2px solid #0a1588;
  outline-offset: 3px;
}
